In [96]:
## Importing necessary module
import sqlite3

In [97]:
## Setting up a connection to the database 1/2
conn = sqlite3.connect('class.db')
print("\n [+] Successfully connected to the database")

 [+] Successfully connected to the database

In [98]:
## Setting up a connection to the database 2/2
c = conn.cursor()
print("\n [+] Cursor has been set up successfully")

 [+] Cursor has been set up successfully

In [99]:
## Creating a table in SQLite database > don't run this multiple times!! 
## class is the table name
#table = c.execute("""CREATE TABLE class ( 
#    first text,
#    last text,
#    age integer,
#    color text
# );
# """)

print("\n [+] The table has been created Successfully ")

 [+] The table has been created Successfully

In [100]:
print(table)

<sqlite3.Cursor object at 0x7fcfa6d67570>

In [101]:
## Filling data into the table (class) located in the SQLite database
c.execute("INSERT INTO class (first, last, age, color) VALUES ('Phoebe', 'Chum', 26, 'orange')")
c.execute("INSERT INTO class (first, last, age, color) VALUES ('John', 'Tan', 29, 'magenta')")
c.execute("INSERT INTO class (first, last, age, color) VALUES ('Natasha', 'Le', 23, 'sky-blue')")
c.execute("INSERT INTO class (first, last, age, color) VALUES ('Erika', 'Altamirano', 26, 'royal-blue')")
c.execute("INSERT INTO class (first, last, age, color) VALUES ('Andrew', 'Jaeger', 29, 'neon-orange')")
c.execute("INSERT INTO class (first, last, age, color) VALUES ('Christian', 'Yoo', 23, 'peach')")
c.execute("INSERT INTO class (first, last, age, color) VALUES ('Francis', 'Zamora', 29, 'green')")
c.execute("INSERT INTO class (first, last, age, color) VALUES ('Tim', 'Simon', 26, 'maroon')")
c.execute("INSERT INTO class (first, last, age, color) VALUES ('Christopher', 'Wilson', 54, 'Sherwood Green Metallic')")
print("\n [+] The Data has been inserted Successfully ")

 [+] The Data has been inserted Successfully

In [102]:
## Querying (Requesting) data from the table in the database
## The 'SELECT' + '*' command allows all values to be pulled
## The 'ORDER BY' command sorts by column given 
c.execute("SELECT * FROM class ORDER BY age")
table = c.fetchall()
for i in table:
    print(i)

('Natasha', 'Le', 23, 'sky-blue')
('Christian', 'Yoo', 23, 'peach')
('Phoebe', 'Chum', 26, 'orange')
('Erika', 'Altamirano', 26, 'royal-blue')
('Tim', 'Simon', 26, 'maroon')
('John', 'Tan', 29, 'magenta')
('Andrew', 'Jaeger', 29, 'neon-orange')
('Francis', 'Zamora', 29, 'green')
('Christopher', 'Wilson', 54, 'Sherwood Green Metallic')

In [104]:
## Querying (Requesting) data from the table in the database
## The 'SELECT' command allows specifiec column values to be pulled
## The 'ORDER BY' command sorts by column given 
c.execute("SELECT first,color FROM class ORDER BY age")
table = c.fetchall()
for i in table:
    print(i)

('Natasha', 'sky-blue')
('Christian', 'peach')
('Phoebe', 'orange')
('Erika', 'royal-blue')
('Tim', 'maroon')
('John', 'magenta')
('Andrew', 'neon-orange')
('Francis', 'green')
('Christopher', 'Sherwood Green Metallic')

In [86]:
## Closing the connection 
#c.close()
#conn.commit()
#conn.close()

In [87]:
## cool way to organize data 
## doesn't work > I need to define 'Classmate'

clm_1 = Classmate('Phoebe', 'Chum', 26, 'orange')
clm_2 = Classmate('John', 'Tan', 29, 'magenta')
clm_3 = Classmate('Natasha', 'Le', 23, 'sky blue')

print(clm_1.first)
print(clm_1.last)
print(clm_1.age)
print(clm_1.color)

print(clm_2.first)
print(clm_2.last)
print(clm_2.age)
print(clm_2.color)

print(clm_3.first)
print(clm_3.last)
print(clm_3.age)
print(clm_3.color)

NameError: name 'Classmate' is not defined